body {
    text-align: center;
    color: black;
}

table {
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    width: 40vw;
    margin: 5% auto 2%;
    border-bottom: 1.5px solid #b82525;
}